<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074835362322-ae15qqvujadevvc45ldf400cb3csukj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074835362322-ae15qqvujadevvc45ldf400cb3csukj1</string>
	<key>API_KEY</key>
	<string>AIzaSyA3M7IqP_8ru5KGF8sCJD9eq-0pah-I4ko</string>
	<key>GCM_SENDER_ID</key>
	<string>1074835362322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.natwol.luppy</string>
	<key>PROJECT_ID</key>
	<string>luppy-climatizacao</string>
	<key>STORAGE_BUCKET</key>
	<string>luppy-climatizacao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074835362322:ios:237689bb628540b6c0fecb</string>
	<key>DATABASE_URL</key>
	<string>https://luppy-climatizacao.firebaseio.com</string>
</dict>
</plist>